.body{
	font-family: 'Didact Gothic';
	font-size: 18px;
	color:white;
	//color: #D4B6C0;
	font-weight: bold;
	margin-left: 100px;
	margin-right: 100px;
	background-image: url(./images/flow.png);
	background-size: cover;
	height: 500px;
}